<div class="container main-content">
    <div class="text-center title"> Add Event </div>
    <div class="row">
        <div class="col-12">
            <form class="form" (ngSubmit)="saveData()" [formGroup]="eventForm">
                <div class="row">
                    <div class="form-group col-6">
                        <input type="text" placeholder="Name" class="form-control input" formControlName="name">

                        <div
                        *ngIf="eventForm.controls['name'].touched && eventForm.controls['name'].errors"
                        style="color: red;">Name is required</div>

                    </div>
                    <div class="form-group d-flex col-3">
                        <label class="mr-4 mt-3"> From </label>
                        <p-calendar [ngModelOptions]="{standalone: true}" [(ngModel)]="dates"></p-calendar>
                    </div>
                    <div
                    *ngIf="!dates"
                    style="color: red;">From Date required</div>

                    <div class="form-group d-flex col-3">
                        <label class="mr-4 mt-3"> To </label>
                        <p-calendar [ngModelOptions]="{standalone: true}" [(ngModel)]="dates2"></p-calendar>
                    </div>
                    <div
                    *ngIf="!dates2"
                    style="color: red;">To Date required</div>

                </div>
                <div class="form-group">
                    <button class="btn button" type="submit"> ADD EVENT </button>
                </div>
            </form>
        </div>
    </div>
    <p-paginator [rows]="10" [totalRecords]="totalCount" [rowsPerPageOptions]="[10,20,30]"  (onPageChange)="onPageChange($event)" ></p-paginator>
    
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td> Event Name </td>

                        <td>
                            Active
                            <label class="toggle">
                                <input type="checkbox"/><span class="trigger"></span>
                            </label>
                        </td>
                    </tr>

                </thead>
                <tbody>
                    <tbody *ngFor="let ev of eventList">
                        <tr>
                            <td> {{ev.name}}</td>
                
                            <td> 
                          <p-toggleButton [(ngModel)]="ev.isActive"
                          (onChange) = "ChangesCategoryStatus(ev)"
                            onLabel="ON"
                            offLabel="OFF"
                            value="org.isActive"
                            [style]="{'width':'150px'}">
                           </p-toggleButton>
                
                            </td> 
                          </tr>
    
                    </tbody>

            </table>
        </div>
    </div>
</div>