<div class="container main-content">
    <div class="text-center title"> Add Products </div>
    <div class="row">
        <div class="col-12">
            <form class="form">
                <div class="row">
                    <div class="form-group col-6">
                        <input type="text" placeholder="Product Name" class="form-control input">
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control input">
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control input">
                            <option>  Category </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                            <label class="custom-file-label" for="validatedCustomFile">Upload image</label>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" placeholder="Rank" class="form-control input">
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control input">
                            <option>   Related Products </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                        </select>
                    </div>
                    <div class="form-group col-6">
                        <input type="text" placeholder=" Price" class="form-control input">
                    </div>
                    <div class="form-group col-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                            <label class="form-check-label" for="invalidCheck2">
                                Allow Customization
                          </label>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <textarea class="form-control input text-left" rows="4" placeholder="Details"></textarea>
                    </div>
                    <div class="form-group col-6">
                        <div class="row" style="margin-left: 0px; margin-top: 20px;">
                            <div class="custom-control custom-radio custom-control-inline col-3">
                                <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline1">Small</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline col-3">
                                <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline2">Meduim</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline col-3">
                                <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
                                <label class="custom-control-label" for="customRadioInline3">Large</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <select class="form-control input selectpicker">
                            <option>  Events </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>
                            <option>  Attribute Type </option>~
                            <option>  Attribute Type </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn button" type="submit"> ADD PRODUCT </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td> Product Name </td>
                        <td> Category </td>
                        <td> Status
                        </td>
                    </tr>

                </thead>
                <tbody *ngFor="let prod of productList">
                    <tr>
                        <td> {{prod.name}}</td>
                        <td> {{prod.categoryName}} </td>
                        <td>
            
                        <p-toggleButton [(ngModel)]="prod.isActive"
                        onchange="hi()"
                        onLabel="ON"
                        offLabel="OFF"
                        value="org.isActive"
                        onclick="hi()"
                        [style]="{'width':'150px'}">
                       </p-toggleButton>
            
                        </td> 
                      </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>