<div class="container main-content">
  <div class="text-center title"> Add Category </div>
  <div class="row">
    <div class="col-md-6 col-12 offset-3">
      <form class="form" (ngSubmit)="saveData()" [formGroup]="CatForm">
        <div class="form-group">
          <input type="text" placeholder="Name" class="form-control input" formControlName="name">
        </div>
        <div *ngIf="CatForm.controls['name'].touched && CatForm.controls['name'].errors" style="color: red;">Name is
          required</div>

        <p-dropdown [options]="parentcategoriesDDlList" placeholder="Parent Category" optionLabel="name"
          formControlName="parentCatId" [showClear]="true"></p-dropdown>
        <div class="form-group">
          <button class="btn button" type="submit"> ADD CATEGORY </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td style="direction: center;"> Category</td>
            <td> Parent Category </td>
            <td> Status</td>
          </tr>

        </thead>
        <tbody *ngFor="let cat of categoriesList">
          <tr>
            <td> {{cat.name}}</td>
            <td> {{cat.parentName}} </td>
            <td>

              <p-toggleButton [(ngModel)]="cat.isActive" (onChange)="ChangesCategoryStatus(cat)" onLabel="ON"
                offLabel="OFF" value="org.isActive" [style]="{'width':'150px'}">
              </p-toggleButton>

            </td>
          </tr>
        </tbody>


      </table>
    </div>
  </div>
</div>