<div class="container main-content">
  <div class="text-center title"> Add Category </div>
  <div class="row">
    <div class="col-md-6 col-12 offset-3">
      <form class="form" (ngSubmit)="saveData()" [formGroup]="CatForm">
        <div class="form-group">
          <input type="text" placeholder="Name" class="form-control input">
        </div>

        <!-- <mat-form-field class="form-group">
          <mat-label>Parent</mat-label>
          <mat-select panelClass="downPanel" placeholder="parentCatId" formControlName="parentCatId">
            <mat-option *ngFor="let ut of parentcategoriesDDlList" [value]="ut.id">
              {{ut.name}}
            </mat-option>
          </mat-select>

        </mat-form-field> -->

        <h5>Single</h5>
        <p-dropdown [options]="parentcategoriesDDlList" placeholder="Select a City" optionLabel="name"
          [showClear]="true"></p-dropdown>



        <div class="form-group">
          <button class="btn button" type="submit"> ADD CATEGORY </button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead *ngFor="let org of categoriesList">
          <tr>
            <td> {{org.name}}</td>
            <td> {{org.parentName}} </td>
            <td>
              {{org.isActive}}
              <label class="toggle">
                <input type="checkbox" /><span class="trigger"></span>
              </label>
            </td>
          </tr>

        </thead>


      </table>
    </div>
  </div>
</div>
