<div class="container main-content">
  <div class="text-center title"> Orders </div>


  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td> Creation time </td>
            <td> Delivery date </td>
            <td> Delivery time</td>
            <td> Payment Method</td>
            <td> Total</td>
            <td> Status</td>
          </tr>

        </thead>
        <tbody *ngFor="let order of ordersList">
          <tr>
            <td> {{order.createdAt}} </td>
            <td> {{order.deliveryDate}} </td>
            <td> {{order.deliveryTime}} </td>
            <td> {{order.method}} </td>
            <td> {{order.orderTotal}} </td>
            <td> {{order.orderStatus}} </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
